html{
	width: 100%;
	height: 100%;
}

body{
	margin: 0;
	margin-bottom: 1rem;
	padding: 0;
  	background-color: #fff;
	font-family:"Open Sans";
	color:black;
	width: 100%;
	height: fit-content;
	overflow-x: hidden;
	visibility: hidden;
}

a:link{
	text-decoration: none;
	color: rgb(62, 116, 231);
	font-weight: bold;
}

a:visited{
	text-decoration: none;
	color:rgb(62, 116, 231);
	font-weight: bold;
}

a:hover{
	text-decoration: none;
	color:rgb(223, 23, 23);
}

section.introduction a:link{
	color: black;
	text-decoration: none;
	font-weight: normal;
}

section.introduction a:visited{
	color: black;
	font-weight: normal;
}

a div.slider{
	color: black;
	font-weight: normal;
}

section.introduction a:hover{
	color:rgb(80, 80, 80);
	font-weight: normal;
}

section.introduction nav a:link{
	color: black;
	text-decoration: none;
	font-weight: normal;
}

section.introduction nav a:visited{
	color: black;
	font-weight: normal;
}

section.introduction nav a:hover{
	background-color:rgb(241, 241, 241);
	padding: 1rem;
	color:rgb(68, 68, 68);
	font-weight: normal;
}

#line{
	margin-top:1rem;
	margin-bottom: 1rem;
	border-top: 1rem solid rgb(82, 82, 82);
	width: 100vw;
}

section.introduction{
	top: 0;
	width: 100%;
	height: 10rem;
	overflow: hidden;
	text-align: center;
	position: fixed;
	background-color: white;
	display: block;
	margin: 0;
	z-index: 1;
}

section.content{
	margin-top: 12rem;
	z-index: 1;
}

a.anchor{
	position: relative;
	top: -11.2rem;
	display: inline-block;
	width: 0;
	height: 0;
}

div.element{
	border-bottom-color: black;
	border-bottom-style: solid;
	margin: auto;
	width: 60%;
	overflow: hidden
}

div.lefttext{
	border-right-style: dotted;
	border-right-color: black;
	background-color: rgb(241, 241, 241);
}

div.righttext{
	border-left-style: dotted;
	border-left-color: black;
	background-color: rgb(207, 223, 252);
}

div.lefttext div{
	float:left;
	margin-top: 0rem;
	margin-left: 3rem;
	margin-bottom: 3rem;
	width: 45%;
	text-align: left;
}

div.righttext div{
	float:right;
	margin-top: 0rem;
	margin-right: 1rem;
	margin-bottom: 3rem;
	width: 45%;
	text-align: left;	
}

div.lefttext img{
	width:45%;
	float:right;
	margin-bottom: 1rem;
	margin-top: 1rem;
	margin-right: 1rem
}

div.righttext img{
	width:45%;
	float:left;
	margin-bottom: 1rem;
	margin-top: 1rem;
	margin-left: 1rem;
}

.slider{
	border-width: 1px;
	width: 10%;
	height: 1rem;
	padding-top: 0.1rem;
	padding-bottom: 1rem;
	margin-top: 0;
	text-align: center;
	position: absolute;
	left:9%;
	border-top-style: solid;
	border-top-color: black;
	z-index: 0;
}

div.slider:hover{
	background-color: rgb(241, 241, 241);
}
